.mobile-nav-container {
  display: flex;
  width: 280px;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-out;
}

.mobile-nav-button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.mobile-nav-button:hover,
.mobile-nav-button:active {
  transform: translateY(-3px);
  background-color: rgba(255, 255, 255, 0.1);
}

.mobile-nav-icon {
  font-size: 24px;
}

/* @media (min-width: 769px) {
  .mobile-nav-container {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .mobile-nav-container {
    display: flex !important;
  }
} */
